# sbt
# (may want to keep parts of 'project')
bin/
project/
target/
build/

# eclipse
build
.classpath
.project
.settings
.worksheet

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache
.cache-main

#general
*.class

#docker volumes
dockers/spark/data/*
!dockers/spark/data/.keep
dockers/spark/conf/*
!dockers/spark/conf/.keep
!dockers/spark/conf/master
!dockers/spark/conf/master/spark-defaults.conf
dockers/elastic/logstash/data/*
!dockers/elastic/logstash/data/.keep
dockers/elastic/logstash/pipeline/*
!dockers/elastic/logstash/pipeline/.keep
!dockers/elastic/logstash/pipeline/load_arcos.conf
